body {
    background-color: rgba(53, 85, 73, 0.936);
}

.title {
    text-align: center;
    color: white;
}

ul {
    list-style: none;
    font-size: 23px;
    line-height: 3rem;
}

.container {
    display: flex;
    justify-content: center;
    gap: 40px;
}

select {
    text-align: center;
    font-size: 18px;
}

.friday-time,
.saturday-time,
.sunday-time,
.courts {
    display: none;
}

.modal,
.modal2 {
    display: none;
    border-radius: 50px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: rgb(169, 156, 156);
    width: 400px;
    text-align: center;
}

.result-modal {
    display: none;
    border-radius: 50px;
    border: solid black;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: rgb(159, 68, 68);
    width: 400px;
    text-align: center;
}
.modal-content{
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 5px;
    gap: 50px;
    align-items: center;
}

.result-modal-content {
    color: white;
    font-size: 20px;
}

.modal-content > p,
h1 {
    margin-bottom: -20px;
}

.modal-content > span {
    font-size: 24px;
}

.score-inputs {
    display: flex;
    width: 50px;
    justify-content: center;
    gap: 60px;
    margin-bottom: -20px;
}

.modal-actions{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#submit-button:hover,
#submit-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

a {
    color:black;
}